# dependencies
node_modules/
.pnpm-store/

# build
dist/
build/
coverage/

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# prisma
backend/prisma/dev.db

.vercel
